In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [8]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [9]:
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [11]:
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [13]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [14]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [15]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [16]:
urban_sum = sum(city_data_df["type"]=="Urban")
urban_sum

66

In [17]:
suburban_sum = sum(city_data_df["type"]=="Suburban")
suburban_sum

36

In [18]:
rural_sum = sum(city_data_df["type"]=="Rural")
rural_sum

18

In [19]:
city_type_ds = city_data_df["type"].value_counts()
city_type_ds

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [20]:
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [21]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [22]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [24]:
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on = ["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban